<app-slideshow></app-slideshow>

<main>
    <div class="container">
        <h1><span>Páginas Web</span> que dan resultados</h1>

        <div class="services-container" fxLayout="row">
            <div class="servicio">
                <svg xmlns="assets/img/018-idea.svg" width="30" height="30" viewBox="0 0 30 30"></svg>
                <h4>Identidad Corporativa y diseño gráfico</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis voluptates sint libero nostrum odio dignissimos!</p>
            </div>
            <div class="servicio">
                <embed class="service-icon" type="image/svg+xml" src="assets/img/002-wireframe.svg" />
                <h4>Diseño web</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis voluptates sint libero nostrum odio dignissimos!</p>
            </div>
            <div class="servicio">
                <embed class="service-icon" type="image/svg+xml" src="assets/img/040-promotion.svg" />
                <h4>Marketing digital</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis voluptates sint libero nostrum odio dignissimos!</p>
            </div>
            <div class="servicio">
                <embed class="service-icon" type="image/svg+xml" src="assets/img/008-analytics.svg" />
                <h4>Posicionamiento</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis voluptates sint libero nostrum odio dignissimos!</p>
            </div>
        </div>
    </div>
</main>